src/META-INF/wsdl/CheckinDocOp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.cla.cl" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://osb.cla.cl">
	<WL5G3N0:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl/types" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl" xmlns="http://osb.cla.cl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="Request_EAI118_CheckinDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Header">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Canal">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element minOccurs="0" name="Usuario">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element minOccurs="0" name="IdTransaccion">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="FechaTransaccion">
										<xsd:simpleType>
											<xsd:restriction base="xsd:dateTime"/>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Documento">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="InformacionCabecera">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Nombre">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="300"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="Tipo">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="100"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="FechaIngreso">
													<xsd:simpleType>
														<xsd:restriction base="xsd:dateTime"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="GrupoSeguridad">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="50"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="CarpetaDestino">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="50"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Metadata">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element minOccurs="0" name="Empresa">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Contacto">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Actividad">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Oportunidad">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="OfertaEconomica">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="SolicitudServicio">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="RutPersona">
													<xsd:simpleType>
														<xsd:restriction base="xsd:int"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="DVPersona">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="1"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="RutEmpresa">
													<xsd:simpleType>
														<xsd:restriction base="xsd:int"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="DVEmpresa">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="1"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="SucursalCodigo">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Folio">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="MesCuota">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="MesPlanilla">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="StoreboxID">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="CodigoAutorizacion">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="NumeroDocumento">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="UbicacionFisica">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="Observaciones">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string"/>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element minOccurs="0" name="FechaVencimiento">
													<xsd:simpleType>
														<xsd:restriction base="xsd:dateTime"/>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="Attachment">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Archivo" type="xsd:base64Binary"/>
												<xsd:element minOccurs="1" name="Nombre">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:maxLength value="100"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Response_EAI118_CheckinDocumento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Estado">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Codigo">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Mensaje">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="200"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="CheckinDocIN">
		<WL5G3N0:part name="Request_EAI118_CheckinDocumento" element="WL5G3N1:Request_EAI118_CheckinDocumento"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="CheckinDocOUT">
		<WL5G3N0:part name="Response_EAI118_CheckinDocumento" element="WL5G3N1:Response_EAI118_CheckinDocumento"/>
	</WL5G3N0:message>
	<WL5G3N0:portType name="CheckinDocOp">
		<WL5G3N0:operation name="CheckinDocINOperation">
			<WL5G3N0:input message="WL5G3N1:CheckinDocIN"/>
			<WL5G3N0:output message="WL5G3N1:CheckinDocOUT"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="CheckinDocOpSOAP11Binding" type="WL5G3N1:CheckinDocOp">
		<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WL5G3N0:operation name="CheckinDocINOperation">
			<WL5G3N2:operation soapAction="http://osb.cla.cl/CheckinDocINOperation" style="document"/>
			<WL5G3N0:input>
				<WL5G3N2:body parts="Request_EAI118_CheckinDocumento" use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body parts="Response_EAI118_CheckinDocumento" use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="CheckinDocOp">
		<WL5G3N0:port name="CheckinDocOpPort" binding="WL5G3N1:CheckinDocOpSOAP11Binding">
			<WL5G3N2:address location="http://lasiewebdev.ccaf.andes:8080/enterprise/EntCheckInDocumentoService"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
